<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category.name %></title>
</head>
<body>
    <a href="/categories">← Back to Categories</a>
    <h1><%= category.name %></h1>
    <ul>
        <% products.forEach(product => { %>
            <li><%= product.name %></li>
        <% }) %>
    </ul>
    
</body>
</html>